/*---------------------------- General styling --------------------*/
img {
    max-width: 100%;
}

span {
    font-size: 1rem;
}

/*---------------------------- Navbar --------------------*/

.navbar-brand {
    font-size: 2rem;
}

.navbar-collapse {
    flex-grow: 0;
}

.welcome {
    margin: 0 auto;
    color: #fff
}


/*---------------------------- Index-page --------------------*/

.callout-container {
    height: 60vh;
    background-image: url("https://image.shutterstock.com/image-photo/wide-variety-spices-herbs-on-260nw-1249477660.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    color: white;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------- Form-styling --------------------*/

.form-group {
    font-size: 1.5em;
}

/*---------------------------- Footer --------------------*/

footer {
    background-color: #343a40;
    color: #fff;
    min-height: 100px;
}
