/*---------------------------- General styling --------------------*/
img {
    width: 100%;
}

span {
    font-size: 1rem;
}

.icon-data {
    margin-left: .5rem;
}

.key {
    font-weight: bold;
}

/*---------------------------- Navbar --------------------*/

.navbar-brand {
    font-size: 3rem;
}

.navbar-collapse {
    flex-grow: 0;
}

.welcome {
    margin: 0 auto;
    color: #fff
}


/*---------------------------- Index-page --------------------*/

.jumbotron {
    background-image: url("../images/banner.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    margin-bottom: 0;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.callout-container {
    z-index: 1;
}

/*---------------------------- Form-styling --------------------*/

.form-group {
    font-size: 1.5em;
}

/*---------------------------- Footer --------------------*/

footer {
    background-color: #1d2124;
    color: #fff;
    min-height: 100px;
    position: relative; // Center the child element
}

.copyright {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    
}