{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
	<div class="row pt-3">
		<div class="col">
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-dark" type="submit">Search</button>
			</form>
		</div>
	</div>
	<section id="main-display" class="container pt-5 pb-5">
		<div class="row">
			{% for recipe in recipes %}
			<div class="col-md-4">
				<a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
					<div class="card homepage-cards">
						<div class="frame">
							<img src="{{recipe.image_url}}" class="card-img-top" alt="{{recipe.description}}">
                        </div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}