{% extends "base.html" %}
{% block content %}
<!-- jumbotron -->


<div class="jumbotron text-center">
    <div class="container">
        <h1>Start your collection today!</h1>
        <hr>
        <p class="lead">
            This website was made by Marty Wickham in order to show case my skills in
            my first Full Stack website. For you, it's a place to build a collection
            of your favourite recipes, all in one place!</p>
        <p>
            <a href="{{ url_for('register') }}" class="btn btn-dark my-2">Sign Up!</a>
        </p>
    </div>
</div>



<!-- top viewed recipes -->
<section class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			{% for recipe in recipes %}
			<div class="col-md-4">
				<div class="card mb-4 shadow-sm">
					<img src="{{ recipe.image_url }}" alt="{{ recipe.description }} ">
					<div class="card-body">
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
							additional content. This content is a little bit longer.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
							</div>
							<small class="text-muted">Views: {{ recipe.views }}</small>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}