{% extends "base.html" %}
{% block content %}
<div class="container mb-4">
    <hr class="mb-0">
    <div class="row">
        <div class="col">
            <h1 class="page-heading">{{recipe.title}}</h1>
        </div>
    </div>
    <hr class="mt-0">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ recipe.image_url }}" alt="{{ recipe.description }}">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    {{ recipe.description }}
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Serves: {{recipe.serves}}</p>
                    <p>Cooks in: {{recipe.time}}</p>
                    <p>Difficulty: {{recipe.difficulty}}</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Submitted by: {{ recipe.user }}</p>
                    <p>Views: {{recipe.views}}</p>
                </div>  
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <h3 class="mt-4">Ingredients</h3>
            <table class="table">
                <tbody>
                {% for ingredient in recipe.ingredients %}
                    <tr>
                        <td>{{ ingredient }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="mt-4">Method</h3>
            <table class="table">
                <tbody>
                {% for method in recipe.method %}
                    <tr>
                        <td>{{ method }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-dark" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" role="button">Edit
            Recipe
            </a>
        <a class="btn btn-dark" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" role="button">Delete
            Recipe
        </a>
    </div>
</div>
{% endblock %}