{% extends "base.html" %}
{% block content %}
<section class="container-fluid bg-light">
    <div class="container">
        <div class="row"></div>
        <hr class="mb-0">
        <div class="row">
            <div class="col">
                <h1 class="page-heading">{{ recipe.title }}</h1>
            </div>
        </div>
        <hr class="mt-0">
        <div class="row"></div>
    </div>
</section>
        
<section class="container-fluid bg-light">
	<div class="container mb-4">
		<div class="row">
			<div class="col-md-6 mb-2">
				<img src="{{ recipe.image_url }}" alt="{{ recipe.description }}">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <p>{{ recipe.description }}</p>   
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="far fa-clock"></i><span class="icon-data">{{recipe.time}}</span></p>
                        <p><i class="fas fa-users"></i><span class="icon-data">{{recipe.serves}}</span></p>
                        <p><span class="key">Difficulty:</span> <span>{{ recipe.difficulty.capitalize() }}</span></p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><span class="key">Submitted by:</span> {{ recipe.user }}</p>
                        <p><span class="key">Views:</span> {{recipe.views}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <h3 class="mt-4">Ingredients</h3>
                <table class="table">
                    <tbody>
                        {% for ingredient in recipe.ingredients %}
                        <tr>
                            <td>{{ ingredient }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="mt-4">Method</h3>
                <table class="table">
                    <tbody>
                        {% for method in recipe.method %}
                        <tr>
                            <td>{{ method }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% block button %}
        {% endblock %}
    </div>
</section>
{% endblock %}